html, body {
    height: 100%;
    width: 100%;
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
  :root {
      --primary-teal: #35A7AB;
      --primary-red: #F94F46;  
      --secondary-cream: #FFF1DC;
      --neutral-black: #2D0200;
      --neutral-gray-800: #80726D;
      --neutral-gray-400: #F0E9DE; 
      --neutral-gray-200: #F7F4EE;
      --neutral-white: #FFFFFF;
      --leaf-green: #37E249;
      --deep-green: #42b74e;
      --hover-green: #72c07a;
      }
  *{
      box-sizing: border-box;
  }
  
  body{
      font-family:"inter", sans-serif;
  }
  
  hr {
      border-top: 0;
      border-bottom: 1px solid var(--neutral-gray-400);
      margin: 24px 0;
      width: auto;
      height: 1px;
      background-color: #F0E9DE;
  }
  
  a{
     color: var(--primary-teal);
     transition: color 0.25s ease;
  }
  a:hover{
   color: var(--primary-red);    
  }
  
  .tagline {
    
         font-size: 14px;
         font-weight: 700;
         line-height: 16px;
         text-transform: uppercase;
         margin: 0 0 8px 0;
         color: var(--primary-red)
  }
  
  .heading-one{
       
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 8px 0;
    color: var(--neutral-black)
  
  }
  
  .body-one {
     
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: var(--neutral-gray-800);
  
  }
  
  .body-two {
        
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin: 0;
      color: var(--neutral-black);
  }
  
  .form-control {
      margin-bottom: 24px;
  }
  
  .form-control:last-of-type{
      margin-bottom: 32px;
  }
  
  .form-label {
     
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 8px;
      color: var(--neutral-black)
  }
    
  .form-input {
      
       width: 100%;
       border: none;
       border-radius: 4px;
       outline-color: var(--primary-teal);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding: 12px 24px;
       background-color: var(--neutral-gray-200);
  }
  
  .btn{
    
        border: none;
        border-radius: 4px;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding: 12px 24px;
        margin: 0px 0px 16px 0px;
   }
  
  .btn-primary{
      background-color: var(--primary-teal);
      color: var(--neutral-white);
      transition: background-color 0.25s ease;
  }
  
  .btn-primary:hover {
       background-color: var(--primary-red);
       color: var(--neutral-white);
       cursor: pointer;
  }
  .btn-primary:active{
        transform:scale(0.98);
    }
  
   .text-center{
       text-align: center;
   }
   
   .text-light{
       color: var(--neutral-gray-800)
   }
   
   .main-section{
       background-color: var(--secondary-cream);
   }
   
   .container{
       max-width: 1224px;
       margin: 0 auto;
   }
  
   .header{
       padding: 32px 0;
   }
  
   .form-section{
       width: 496px;
       margin: 0 auto;
       border-radius: 4px;
       box-shadow: 0 4px 48px rgb(155, 144, 122, 0.1);
       padding: 40px 52px;
       background-color: var(--neutral-white);
   }
  
   .form-inline {
       display: flex;
   }
  
   .form-inline .form-control:first-of-type {
         margin-right:24px; 
   }
  
   .account-select {
      margin-top: 24px;
   }
  
   .illustration-sign-up{
       max-width: 470px;
   }
  
  .background-sign-up{
   background-image: url(../assets/background-sign-up.png);
   background-size: 976px 895px;
   background-repeat: no-repeat;
   background-position: center center;
  
  }
  